* {
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #cccccc;
	font-family: Tahoma;
}

.container {
	width: 80%;
	margin: 50px auto;
	border: 0px #ddd solid;
	padding: 0px;

}

[header-dir] {
	background-color: white;
	padding: 20px;
	width: 100%;
	float: left;
	position: relative;	
}

header h1 {
	display: inline-block;
}

[main-dir] {
	float:	left;
	width: 100%;
	background-color: #eeeeee;
	padding: 0 20px;
}

footer {
	float:left;
	background-color: white;
	padding: 20px;
	width: 100%;
	text-align:center;
}
 
.sidebar {
	float:left; 
	width: 20%;
	padding: 30px 10px;
	background-color: #eeeeee;
}
.content {
	float:left;
	width: 100%;
	padding: 30px 0px;
}

.loginForm {
	 
	width: 300px;
	padding: 30px;
	border-radius: 10px;
	background-color: #dddddd;
	margin: 0 auto;
	line-height:30px;
	border: 1px #aaa solid;
}

.loginForm table {
	width: 100%;
}

.loginForm input {
	padding: 5px;
	width: 95%;
	border: 1px #aaa solid;
	border-radius: 5px;
}

.btn {
	border: 1px #555 solid;
	padding: 10px 20px;
}

#demo {
	padding: 0;
	border: 0px #f98181 solid;
	background-color: #f98181 ;
	margin-bottom: 10px;
	color: #fff;
	font-weight: bold;
	line-height: 17px;
	font-size: 10px;
}

.btn-login,
.btn-new,
.btn-create {
	padding: 5px 20px;
	background-color:#0966a0;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
	border: 1px #096aa5 solid;
	color: #eeeeee;
	box-shadow: inset 0 10px 10px #2da6ed;
}

.btn-close {
	padding: 5px 20px;
	background-color:#c42121;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
	border: 1px #f22424 solid;
	color: #eeeeee;
	box-shadow: inset 0 10px 10px #f22424;
}

.btn-logout {
	background-color:#6b080f;
	border-radius: 10px;
	font-weight: bold;
	font-size: 14px;
	border: 1px #bc880e solid;
	color: #dddddd;
	box-shadow: inset 0 10px 10px #950b0e;
}

.close-btn {
	position: absolute;
	right: 10px;
}
.edit-btn {
	position: absolute;
	right: 40px;
}

.pull-right {
	position: absolute;
	top: 20px;
	right: 10px;
	white-space: nowrap;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px #ddd solid;
}

table td {
	padding: 5px;
	vertical-align: top;
}

thead {
	font-weight: bold;

}

.error {
	border: 1px red solid;
	font-size: 12px;
	padding: 0 10px;
	color: red;
}

.main-ticket {
	font-size: 12px;
}

.draggable {
	width: 94%;
	border: 1px #ddd solid;
	padding: 0px;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align:left;
	padding: 3%;
}

.createForm {
	line-height:22px;
	margin: 10px auto;
	width: 500px;
	padding: 20px;
	background-color: #333;
	color: #eee;
}

.createForm input{
	width: 95%;
	display: block;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px #ddd solid;
}

.sub-menu {
	background-color: #666;
	color: #eee;
}
.sub-menu li {
	float:left; 
	list-style: none; 
	margin: 10px; 
	font-size: 14px; 
	font-weight: bold;
	cursor: pointer;
}

.fl {
	float: left;
	width: 100%;
}

[status-data]{
	width: 20%;
}
[status-data] h4{
	padding: 10px;
	background-color: #444;
	color: #eee;
}
[status-data] > div{
	width: 100%;
	min-height: 300px;
	border: 1px #ddd solid;
}

[draggable-directive] {
	margin-top: 5px;
}

[droppable-directive] {
	padding-bottom: 60px;
	min-height: 200px;
	border: 1px #333 solid;
}

.edit,
.close {
	font-size: 10px;
	font-style: italic;
	color: #898888;
}