<!DOCTYPE html>
    
<html ng-app="app">
<head>
	<title>AngularJS Exercise</title>
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	
</head>

<body>
	<div class="container">
	 	
		<div>

		 	<header>
		 		<h1>Exercise: Test</h1>

		 		<div class="pull-right" ng-controller="headerController as headerCtrl">

		 			<span class="pull-right" ng-hide="headerCtrl.LoginService.loginActive">Welcome Guest</span>
		 			<button class="btn btn-logout" 
		 				ng-hide="headerCtrl.LogoutService.logoutActive" 
		 				ng-click="headerCtrl.showLogout()">
		 					Logout
		 			</button>

	 			</div>

		 	</header>

		 	<main>

		 		<div class="content"  >

		 			<div ng-controller="formController as formCtrl">
		 				<div login-form=""></div>
		 			</div>

		 			<div class="main-ticket" ng-controller="ticketController as ticketCtrl">
		 				
		 				<div ng-hide="ticketCtrl.TicketService.ticketActive">

			 				<table style="width:100%">
			 					<tr>
				 					<td colspan="2" style="border-bottom: 1px #ddd solid; position: relative; height: 40px;" >
				 						<button class="btn btn-new  " ng-click="ticketCtrl.create()">Create a new job</button>
				 					</td>
			 					</tr>
				 				<tr>
					 				<td style="width: 15%">

						 				<div ng-repeat="testdata in ticketCtrl.dataService.sampleData" ondrop="drop(event)" ondragover="allowDrop(event)">
							 				
							 				<div id="{{ testdata.id }}" class="draggable" 
							 				 	ondragstart="dragStart(event)" draggable="true" >  
							 					<strong>{{ testdata.title }}</strong>
							 					<p>{{ testdata.description }}</p>
							 					<p>{{ testdata.status }}</p>
							 				</div> 

							 				
  											<!-- <p ondragstart="dragStart(event)" draggable="true" id="dragtarget">Drag me!</p> -->
  
							 			</div>

							 			<p id="demo"></p>


					 				</td>

					 				<td style="width:85%">

					 					<div create-ticket-form=""></div>

					 					<div ticket-app=""></div>
					 					
					 				</td>
				 				</tr>
			 				</table>

			 			</div>

			 		</div>

		 		</div>
		 
		 	</main>

	 	</div>

	 	<footer>
	 		Footer copyright
	 	</footer>

	 	

	 </div>

	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controller/ticket-controller.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controller/form-controller.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controller/logout-controller.js" type="text/javascript" charset="utf-8"></script>

	<!-- FACTORY -->
	<script src="js/factory/factory.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/factory/dataservice.js" type="text/javascript" charset="utf-8"></script>

	<!-- DIRECTIVES -->
	<script src="js/directive/directive.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>