<form class="loginForm" ng-submit="formCtrl.Authenticate()" ng-hide="formCtrl.StateChange.loginHide">
	<h2>Login</h2>
	<table>
	<tr>
		<td>Username:</td>
		<td><input type="text" placeholder="Username" ng-model="formCtrl.username"/></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" placeholder="Password" ng-model="formCtrl.password"/></td>
	</tr>
	<tr>
		<td> </td>
		<td><button class="btn btn-login">Login</button></td>
	</tr>
	</table>
	
	{{formCtrl.username}}

	<div class="error" ng-hide="formCtrl.StateChange.hideError"> {{ formCtrl.error }} </div>
	
	<div style="text-align:center; font-size: 12px; font-weight:bold;"> user: admin  /  pass: password </div>
</form> 