 
 <!-- <div class="droptarget" >
  
  <p ondragstart="dragStart(event)" draggable="true" id="dragtarget">Drag me!</p>

</div> -->

<p id="demo"></p>


<div class="box-5"  id="planned" my-drop="" drop="ticketCtrl.onDrop(task)">

	<h4>Planned</h4>

	<div ticket-template="" 
		ng-repeat="testdata in ticketCtrl.dataService.sampleData | filter: { status: 'planned' }" 
		ondragover="allowDrop(event)" >
	
	</div>

	
</div>



<div class="box-5"  id="working"  my-drop="" drop="ticketCtrl.onDrop(task)">
	<h4>Working On</h4>

	<div ticket-template="" 
		ng-repeat="testdata in ticketCtrl.dataService.sampleData | filter: { status: 'working' } " 
		  ondragover="allowDrop(event)"  >

	</div>

</div>



<div class="box-5" ondrop="drop(event)" ondragover="allowDrop(event)" id="resolved">
	<h4>Resolved</h4>


</div>

<div class="box-5" ondrop="drop(event)" ondragover="allowDrop(event)" id="tested">
	<h4>QA Tested</h4>


</div>

<div class="box-5" ondrop="drop(event)" ondragover="allowDrop(event)" id="completed"> 
	<h4>Completed </h4>


</div>