
<div id="{{statusdata.status}}"  
	droppable-directive  ondrop="" ondragover="allowDrop(event)" on-load-callback="ticketCtrl.UpdateTicket(arg1,arg2)">

	<h4>{{statusdata.status}}</h4>

	<div ticket-template="" 
		ng-repeat="testdata in ticketCtrl.dataService.sampleData | filter: { status: statusdata.status }" 
		ondragover="allowDrop(event)" >
	</div>
	<input type="text" name="" ng-model="ticketCtrl.planned">
	{{ticketCtrl.planned}}
	<!-- <div ticket-template="" 
		ng-repeat="testdata in ticketCtrl.dataService.dataStatus.tickets | filter: { status: statusdata.status }" 
		ondragover="allowDrop(event)" >
	</div> -->
</div>

<!--
ng-model="ticketCtrl.selectedQuery" ng-options="q.status for q in ticketCtrl.queryList" 
-->
