 					 				
<div id="{{ testdata.id }}" draggable-directive ondragstart="" draggable="true">  

	<strong>Title: {{ testdata.title }}</strong>
	<p>Description: {{ testdata.description }}</p>
	<p>Status: {{ statusdata.status }}</p>
 	
 	<p>Status: {{ ticketCtrl.test }} </p>
 
	<!-- <p>Status: {{statusdata.status}}</p>
	 -->
	<!-- <input type="text" ng-model="statusdata.status" style="background-color: rgba(0,0,0,0); border: none; width: 100%" disabled="" /> -->
</div> 



<!--  <div id="{{ testdata.id }}" class="draggable" ondragstart="dragStart(event)" draggable="true">  
	<strong>Title: {{ testdata.title }}</strong>
	<p>Description: {{ testdata.description }}</p>
	<p>Status: {{ testdata.status }}</p>
</div>  -->
